/* Paner Stay Home Section */
.stayhome {
  height: 40vh;
  padding-top: 10vh;
  background-image: url(/images/HomeImg/baner/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stayhome h3 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.stayhome p {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

